:root {
  --mediumVioletRed: #c93b76;
  --darkSlateGray: #212936;
  --dimGray: #4d5562;
  --gainsboro: #e5e7eb;
  --black: #121826a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/resources/gradient-bg-small.jpg") no-repeat;
  background-size: cover;
  font-family: Inter, Arial, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-info {
  font-size: 14px;
  text-align: center;
  color:  var(--gainsboro);
}

.author-info a {
  text-decoration: none;
  color: blue;
}

@media (max-width: 700px) {
  body {
    background: url("/resources/gradient-bg.jpg") no-repeat;
  }
}