.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.75rem;
}

.header nav ul {
  display: flex;
  gap: 0.625rem;
}

.header ul li a {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--dark-grayish-blue);
}

.header li a:hover {
  color: var(--soft-orange);
}

[data-menu="button"] {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.articles {
  display: flex;
  gap: 1.875rem;
}

picture .img-desktop {
  padding: 1.875rem 1.875rem 1.25rem 0;
}

.article-information {
  display: flex;
}

.sub-article-title {
  width: 450px;
}

.sub-article-title .featured-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 0.9;
  max-width: 9ch;
  color: var(--very-dark-blue);
}

.sub-article-button {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sub-article-button p {
  max-width: 35ch;
  color: var(--dark-grayish-blue);
  line-height: 1.4;
  font-size: 0.938rem;
}

.sub-article-button a {
  padding: 1rem 2rem;
  background: var(--soft-red);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-top: 1.5rem;
}

.sub-article-button a:hover {
  background: var(--very-dark-blue);
  color: var(--off-white);
}

.article-topics-two {
  width: 600px;
  height: 548px;
  background: var(--very-dark-blue);
  margin-top: 1.875rem;
}

.article-topics-two .title-topics-two {
  font-size: 3rem;
  color: var(--soft-orange);
  padding: 2rem 0 0 1.25rem;
}

.article-topics-two .sub-topics {
  padding: 1.875rem 0 1.875rem 1.25rem;
  position: relative;
}

.sub-topics:nth-of-type(1)::after,
.sub-topics:nth-of-type(2)::after {
  content: "";
  width: 85%;
  height: 1px;
  background: var(--dark-grayish-blue);
  position: absolute;
  bottom: 0px;
}

.sub-topics h2 {
  color: var(--off-white);
  margin-bottom: 0.75rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.sub-topics h2:hover {
  color: var(--soft-orange);
}

.sub-topics:nth-of-type(3) {
  padding-bottom: 0;
}

.sub-topics p {
  color: var(--grayish-blue);
  max-width: 33ch;
  font-size: 0.938rem;
  line-height: 1.6;
}

.topics {
  display: flex;
  margin-top: 4rem;
  gap: 1.25rem;
}

.container-topics {
  display: flex;
  gap: 1.25rem;
}

.topics img {
  width: 100px;
  height: 100px;
}

.sub-articles .title-reading-articles {
  color: var(--soft-red);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.375rem;
}

.sub-articles .title-reading-two {
  color: var(--very-dark-blue);
  font-weight: 800;
  font-size: 1rem;
  margin-bottom: 0.625rem;
  cursor: pointer;
}

.sub-articles .title-reading-two:hover {
  color: var(--soft-red);
}

.sub-articles p {
  color: var(--dark-grayish-blue);
  font-size: 0.825rem;
  line-height: 1.4;
  max-width: 24ch;
}