.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.75rem;
}

.header nav ul {
  display: flex;
  gap: 0.625rem;
}

ul li a {
  display: block;
  padding: 0.75rem 1rem;
  color: var(--dark-grayish-blue);
}

.articles {
  display: flex;
}

.article-topics-one .img-desktop {
  padding: 1.875rem 1.875rem 1.25rem 0;
}

.article-information {
  display: flex;
}

.sub-article-title {
  width: 400px;
}

.sub-article-button {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sub-article-button p {
  max-width: 35ch;
}

.article-information h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 3rem;
  max-width: 9ch;
  color: var(--very-dark-blue);
}

.article-topics-two {
  width: 640px;
  background: var(--very-dark-blue);
  margin-top: 1.875rem;
}