@media (max-width: 1440px) {
  body {
    overflow-y: scroll;
  }

  .header {
    margin-top: 1.5rem;
  }

  .topics {
    padding-bottom: 4rem;
  }
}

@media (max-width: 1280px) {
  body {
    overflow-y: hidden !important;
  }

  .header {
    margin-top: 1.5rem;
  }
}

@media (max-width: 1024px) and (min-width: 701px) {
  body {
    overflow-y: scroll !important;
  }

  .sub-article-title .featured-title {
    margin-top: 3rem;
  }

  .sub-article-button {
    margin: 3rem 0 0 0.938rem;
  }

  .sub-article-button p {
    max-width: 45ch;
  }

  .sub-topics h2 {
    font-size: 1rem;
  }

  .sub-topics p {
    font-size: 0.875rem;
    max-width: 25ch;
  }
}

@media (max-width: 700px) {
  body {
    overflow-y: scroll !important;
  }

  .container {
    max-width: 400px;
  }

  .header nav {
    display: none;
    position: fixed;
    width: 50%;
    height: 100vh;
    background: var(--off-white);
    right: 0;
    top: 0;
    z-index: 1;
  }

  .header nav ul {
    display: block;
    margin-top: 8rem;
  }

  nav li a {
    color: var(--very-dark-blue) !important;
    margin-left: 0.625rem;
  }

  [data-menu="button"] {
    display: block;
  }

  .articles {
    flex-direction: column;
    gap: 0;
  }

  .article-topics-one {
    flex-direction: column;
  }

  picture .img-desktop {
    padding: 0;
    margin-top: 1.875rem;
  }

  .article-information {
    flex-direction: column;
  }

  .sub-article-title .featured-title {
    font-size: 3rem;
    max-width: 10ch;
    padding-top: 1.25rem;
  }

  .sub-article-button {
    padding-top: 1.25rem;
  }

  .article-topics-two {
    width: 400px;
    margin-top: 3.75rem;
  }

  .topics {
    flex-direction: column;
    padding-bottom: 3.75rem;
  }

  .sub-articles .title-reading-articles {
    font-size: 1.3rem;
  }

  .sub-articles .title-reading-two {
    font-size: 0.938rem;
  }

  .sub-articles p {
    font-size: 0.725rem;
  }
}