.dynamic-data {
  width: 92%;
  height: 25%;
  margin-top: 2rem;
  padding: 1.875rem;
  background: var(--blue50);
  border-radius: 0.313rem;
  position: relative;
}

.plan-data {
  margin-bottom: 1.25rem;
  position: relative;
}

.plan-data p {
  margin-bottom: 0.3rem;
}

.price-data {
  justify-self: end;
}

.dec {
  width: 90%;
  position: absolute;
  top: 5rem;
  left: 1.3rem;
  height: 1px;
  background: var(--purple200);;
}

.container-buttons-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 9.5rem;
}

.total-per-month {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.938rem;
}

.price-data {
  position: absolute;
  right: 0;
  top: 0;
}

.add-on {
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  margin-top: 2rem;
}

.wrapper-add-on {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paragraph-add-on {
  font: 400 0.938rem "Ubuntu", sans-serif;
  color: var(--grey500);
}

.span-add-on {
  font: 400 0.938rem "Ubuntu", sans-serif;
  color: var(--blue950);
}

.container-buttons-end .btn-prev-step {
  margin-top: 0;
}

.btn-confirm-step {
  padding: 0.938rem 2rem;
  border-radius: 0.313rem;
  border: none;
  background: var(--blue950);
  cursor: pointer;
}

@media (max-width: 768px) {
  .dynamic-data {
    box-sizing: border-box;
    margin: 0 0 0 0.75rem;
  }

  .container-buttons-end {
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: -13.75rem;
    background: var(--white);
    padding: 0.75rem 5rem;
    margin-left: -60px;
  }
}
