#utilitarian-class {
  margin-top: 3rem;
}

#button-utilitarian-class {
  margin-top: 5.5rem;
}

.container-checkbox {
  display: flex;
  align-items: center;
  width: 25.625rem;
  height: 4.375rem;
  border: 1px solid hsl(243, 100%, 30%);
  border-radius: 0.313rem;
  margin-bottom: 0.938rem;
  position: relative;
}

.checkbox {
  display: flex;
  margin-left: 0.938rem;
  margin-top: 0.4rem;
}

.checkbox label {
  margin-left: 1rem;
}

.checkbox .check-price {
  position: absolute;
  right: 1.5rem;
  top: 1.75rem;  
}

.checkbox p {
  margin-top: 0.313rem;
}